<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="defaultStatementTimeout" value="10" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="toast" type="org.ggida.web.model.Toast" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sql/toast.xml" />
	</mappers>

</configuration>
