<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta property="og:author" content="끼다" />
<meta property="og:site_name" content="끼니를 다함께" />
<meta property="og:title" content="티져"/>
<meta property="og:image" content="http://i1.daumcdn.net/thumb/C480x270/?fname=http://t1.daumcdn.net/tvpot/thumb/s90baAl8b8qXqqIm8mOOPnP/thumb.png"" />
<meta property="og:description" content="끼니를 다함께 티져" />
<meta property="og:url" content="http://ggida.org"/>

<title>끼니를 다함께</title>

<script type="text/javascript" src="/resources/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/css/common.css" />
