<!DOCTYPE html>
<html lang="ko">
<head>
	#parse("/layouts/_meta.vm")
</head>
<body>
	<div>
	#parse("/layouts/_header.vm")
	</div>

	<div>
	$screen_content
	</div>

	<div>
	#parse("/layouts/_footer.vm")
	</div>
</body>
</html>